language: php
sudo: false
install: true
php:
    - 5.6

script:
  - cd webapp
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

   
after_success:
  - cd ../../..
  - pwd
  -la -ls
  - mkdir codedeploy_artifact
  -la -ls
  - cp infrastructure/aws/codedeploy/*.sh
  
  - zip -r csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip webapp/composer.json
  - mv csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip codedeploy_artifact/
 
 

deploy:
    provider: s3
    local_dir: codedeploy_artifact
    bucket: $s3_bucket
    region: us-east-1
    skip_cleanup: true
    access_key_id: $access_key_id
    secret_access_key: $secret_access_key
    provider: codedeploy
    access_key_id: $access_key_id
    bucket: $s3_bucket
    key: csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip
    bundle_type: zip
    application: $application
    deployment_group: $deployment_group
    region: us-east-1
    secret_access_key: $secret_access_key
    wait-until-deployed: true
